{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% else %}
    <h1 class="text-center">ACCES REFUSE</h1>
{% endif %}
{% endblock fos_user_content %}