{% extends "@FOSUser/layout.html.twig" %}


{% block fos_user_content %}
    <h1 class="text-center">PANNEAU D'ADMINISTRATION </h1>
    <br>
    {{ include('@FOSUser/Security/login_content.html.twig') }}
    <br>
{% endblock fos_user_content %}
