{% extends("::layout/layout-home.html.twig") %}

{% block body %}
<!-- content -->
	<div class="container">
		<div class="content">
	<!-- about -->
	<div class="about">
		<div class="col-md-5">
		<img src="https://nicolasvanier.com/wp-content/uploads/2015/10/Portrait5-Nicolas-Vanier-PBlin-2-533x560.jpg" class="img-responsive" alt="" />
		</div>
		<div class="col-md-7">

				<p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial;"><span style="font-kerning: none;"><strong>J</strong>ean Forteroche est n&eacute; au S&eacute;n&eacute;gal alors que son p&egrave;re y fait son&nbsp;service militaire. Il grandit&nbsp;en&nbsp;Sologne&nbsp;dans une ferme de 125 hectares, celle de son grand-p&egrave;re, qui lui a fait d&eacute;couvrir la nature. Il fait ses &eacute;tudes au lyc&eacute;e agricole de&nbsp;Montargis. Il est laur&eacute;at de la fondation&nbsp;Zellidja. Il suit ensuite une formation &agrave; l'ISTOM&nbsp;(Institut Sup&eacute;rieur Technique d'Outre-Mer, aujourd'hui Ecole sup&eacute;rieur d'Agro-d&eacute;veloppement International) o&ugrave; il obtient son dipl&ocirc;me</span></p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial;"><span style="font-kerning: none;">Passionn&eacute; par le Grand Nord d&egrave;s l'adolescence, il commence ses exp&eacute;ditions en traversant &agrave; pieds la Laponie en 1982.</span></p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial; min-height: 14px;">&nbsp;</p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial;"><span style="font-kerning: none;">En 1983, il entreprend une travers&eacute;e en cano&euml; dans le Grand Nord qu&eacute;b&eacute;cois depuis Schefferville jusqu'&agrave; la baie d'Ungava sur les traces des Indiens montagnais.</span></p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial; min-height: 14px;">&nbsp;</p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial;"><span style="font-kerning: none;">Il explore le grand nord canadien en traversant la p&eacute;ninsule du Nouveau-Qu&eacute;bec-Labrador avec des tra&icirc;neaux &agrave; chiens. Cette exploration fera l'objet d'un premier ouvrage, Grand Nord, et d'un documentaire t&eacute;l&eacute;vis&eacute; pour Antenne 2, Le coureur des bois.</span></p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial; min-height: 14px;">&nbsp;</p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial;"><span style="font-kerning: none;">En 1986 et 1987, il parcourt les montagnes Rocheuses et l'Alaska, en trois &eacute;tapes, avec les moyens de locomotion traditionnels de ces r&eacute;gions.</span></p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial; min-height: 14px;">&nbsp;</p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial;"><span style="font-kerning: none;">En 1990 et 1991, il entreprend la travers&eacute;e de la Sib&eacute;rie, partant de Mongolie pour rejoindre l'oc&eacute;an Arctique, pour une exp&eacute;dition de 7 000 km.</span></p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial; min-height: 14px;">&nbsp;</p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial;"><span style="font-kerning: none;">En 1993, il retourne en Sib&eacute;rie o&ugrave; il partage le quotidien d'une famille d'&eacute;leveurs nomades &eacute;v&egrave;nes.</span></p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial; min-height: 14px;">&nbsp;</p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial;"><span style="font-kerning: none;">De 1994 &agrave; 1995, il entreprend avec sa femme et sa fille, Montaine, alors &acirc;g&eacute;e d'un an et demi, un voyage d'un an &agrave; travers les Rocheuses et le Yukon jusqu'en Alaska. Un long-m&eacute;trage, L'enfant des neiges, sort en salles en d&eacute;cembre 1995.</span></p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial; min-height: 14px;">&nbsp;</p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial;"><span style="font-kerning: none;">En 1998-1999, il entreprend l&rsquo;Odyss&eacute;e blanche, un voyage de 8 600 km en tra&icirc;neau de chiens de Skagway (Alaska) jusqu&rsquo;au Qu&eacute;bec en moins de 100 jours.</span></p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial; min-height: 14px;">&nbsp;</p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial;"><span style="font-kerning: none;">En 2004, le premier film de Nicolas Vanier, Le Dernier Trappeur, sort au cin&eacute;ma. Le film relate un an de la vie de Norman Winther, l&rsquo;un des derniers trappeurs du Yukon canadien.</span></p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial; min-height: 14px;">&nbsp;</p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial;"><span style="font-kerning: none;">En 2005-2006, Nicolas Vanier parcourt son Odyss&eacute;e sib&eacute;rienne, un p&eacute;riple de 8 000 km et de 4 mois &agrave; travers la Sib&eacute;rie, qu'il effectue &agrave; raison de 80 kilom&egrave;tres par jour avec un attelage de dix chiens, d'Irkoutsk &agrave; Moscou. Le d&eacute;part a lieu le 1er d&eacute;cembre 2005 sur les bords du lac Ba&iuml;kal, et l&rsquo;arriv&eacute;e se trouvait en plein c&oelig;ur de la Place Rouge.</span></p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial; min-height: 14px;">&nbsp;</p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial;"><span style="font-kerning: none;">En 2008, il tourne en Sib&eacute;rie pour le film Loup, qui sort en salles en d&eacute;cembre 2009.</span></p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial; min-height: 14px;">&nbsp;</p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial;"><span style="font-kerning: none;">En d&eacute;cembre 2013, sort le film Belle et S&eacute;bastien, dont il est le r&eacute;alisateur. Une avant-premi&egrave;re au profit de la SPA est organis&eacute;e &agrave; cette occasion.</span></p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial; min-height: 14px;">&nbsp;</p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial;"><span style="font-kerning: none;">En 2013-2014, Nicolas Vanier entreprend l&rsquo;Odyss&eacute;e Sauvage, une travers&eacute;e en tra&icirc;neau de chiens de la c&ocirc;te Pacifique de la Sib&eacute;rie jusqu&rsquo;au lac Ba&iuml;kal, en passant par la Chine et la Mongolie. Il en fait un film &eacute;ponyme, l'Odyss&eacute;e sauvage, sorti en DVD le 3 d&eacute;cembre 2014 et diffus&eacute; sur M6 pendant les f&ecirc;tes de fin d&rsquo;ann&eacute;e.</span></p>
			<p>&nbsp;</p>
			<p style="margin: 0px; font-size: 12px; line-height: normal; font-family: Helvetica; color: #222222; -webkit-text-stroke-color: #222222; -webkit-text-stroke-width: initial; min-height: 14px;">&nbsp;</p>
				</p>
		</div>
				<div class="clearfix"> </div>
			<div class="col-md-12">

			</div>
			<div class="clearfix"> </div>

	</div>
	<!-- about -->
		</div>	
	</div>
<!-- content -->

{% endblock %}
